/**
* Create by Deshun
* E-mail: contact@w3h5.com
* Description: 
* Date: 2021-08-13 下午 10:49:22
*/
.siteItem {
  width: 12.5%;
  color: #666;
  text-align: left;
}
.siteName {
  color: #333;
  font-size: 14px;
  margin: 20px 0;
}
.siteUrl {
  transition: 0.1s;
  padding: 5px 10px;
}
.siteUrl:hover {
  background: #f2f2f2;
}
.siteDesc {
  font-size: 12px;
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
