/**
* Create by Deshun
* E-mail: contact@w3h5.com
* Description: 
* Date: 2021-08-13 下午 10:49:22
*/
.site-item {
  width: 12.5%;
  color: #666;
  text-align: center;
}
.site-name {
  color: #333;
  font-size: 14px;
  margin: 20px 0;
}
.site-url {
  transition: 0.3s;
  padding: 5px 10px;
}
.site-url:hover {
  background: #f2f2f2;
}
.site-desc {
  font-size: 12px;
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
