/**
* Create by Deshun
* E-mail: contact@w3h5.com
* Description: 
* Date: 2021-06-30 下午 3:49:37
*/
.container {
  max-width: 1000px;
  margin: 50px auto;

  .cateName {
    font-size: 18px;
    font-weight: bold;
  }
  .cateContent {
    display: flex;
    flex-wrap: wrap;
  }
}
